*{
	margin:0;
	padding:0;
}

html{
	background: url('bg_tile.jpg');
	
}

body {
	margin: 0;
	background: url("bg_tile.jpg");

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    height: 10%;
    overflow: auto;
}
li {
	display: inline;
}

.header {
	background-color: #f1f1f1;
	padding:20px;
	text-align: center;
	background: url("bg_header.png");
	
}
.column {
    float: left;
    width: 100%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.container{
	margin: 0;
	padding: 50px;
}

